.category {
  width: 60vw;
  padding-top: 20px;
  display: flex;
  margin: auto;
}

.category_title {
  font-size: 20px;
  color: $color-3;
  color: white;
  padding-top: 10px;
  margin: auto;
}

.category_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
