.footer-container {
  position: relative;
  display: block;
  color: white;
  background-color: $color-4;
  width: 100%;
  height: 100px;
  overflow-x: hidden;

  .social-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    .brands-icon {
      padding: 0 10px;
    }
  }

  .navlink-container {
    padding-top: 10px;

    .nav-link {
      width: 100%;
      color: white;
      padding: 0 10px;
    }

    .nav-link:hover {
      font-weight: 600;
    }
  }

  .rights-container {
    padding-top: 20px;
  }
}

@media screen and (max-width: 440px) {
  .footer-container {
    position: relative;
    bottom: 0px;
    background-color: $color-4;
  }

  .navlink-container {
    display: none;
  }

  .social-container h5 {
    display: none;
  }

  .social-container .brands-icon {
    height: 30px;
  }
}
